nav {width: 30%;}

.list-navecion {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

a {
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner_header {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_intro {
    width: 50%;
} 

div {display: block;}

h1 {
    color: white;
    display: block;
}

body {background-color: darkviolet;}

p{
    color: white;
}

.seccion-info {
    background-color: black;
    display: flex;
    flex-direction: column    ;
    justify-content: center;
    align-items: center;
}

.seccion-info h2 {
    margin: 100px 0px 0px 0px;
    padding: 0%;
    color: orange;
    font-size: 1.5em;
    text-transform: uppercase;

}

.seccion-info h4 {
    margin: 20px 0px 0px 0px;
    padding: 0%;
    color: yellow;
    font-size: 1.3em;
}

.container-info {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.container-img-info {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.container-img-info img {
    width: 50%;
}
.seccion-inf {
    background-color: gray;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
}
.container-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plantillas {
    display: block;
}